html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

h1, h2, h3, p {
	margin: 0 0 1em;
	padding: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

.intro {
	height: 90%;
	text-align: center;
	

	background: #8ad6f7; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #8ad6f7 0%, #2ac4f3 50%, #00a0dc 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8ad6f7), 	color-stop(50%,#2ac4f3), color-stop(100%,#00a0dc)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #8ad6f7 0%,#2ac4f3 50%,#00a0dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #8ad6f7 0%,#2ac4f3 50%,#00a0dc 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #8ad6f7 0%,#2ac4f3 50%,#00a0dc 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #8ad6f7 0%,#2ac4f3 50%,#00a0dc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ad6f7', endColorstr='#00a0dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.intro h1 {
	padding-top: 100px;
	color: #FFFFFF;
}

.intro section {
	border: 2px solid #555;
	width: 946px;
	margin: 100px auto 0;
	padding: 25px;
	text-align: left;
}

.intro section > p {
	width: 600px;
	display: inline-block;
}

.intro section div {
	width: 346px;
	display: inline-block;
}

.input {
	text-align: center;
	background: #FAA190; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #FAA190 0%, #FA8B62 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FAA190), 	 color-stop(100%,#FA8B62)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #FAA190 0%,#FA8B62 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #FAA190 0%,#FA8B62 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #FAA190 0%,#FA8B62 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #FAA190 0%,#FA8B62 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAA190', endColorstr='#FA8B62',GradientType=1 );
}

.input h1 {
	background: #555;
	padding: 25px 0;
	color: #fff;
}

.input form {
	border: 2px solid #555;
	width: 948px;
	margin: 100px auto;
	padding: 25px;
	text-align: left;
}

footer {
	background: #555;
	padding: 25px 0;
	color: #fff;
	font-size: 16px;
}

footer div {
	width: 1000px;
	margin: 0 auto;
}

footer p {
	width: 600px;
	display: inline-block;
}

footer a {
	color: #fff;
}

footer ul {
	width: 400px;
	display: inline-block;
	text-align: right;
}

footer li {
	display: inline;
	list-style-type: none;
}

footer li a {
	margin: 0 0 0 1em;
	display: inline-block;
}

// ----- GLOBE ANIMATION -----

body {
  background-color: black;
}

#earth {
    width: 100px;
    height: 100px;
	background: url('http://nsidc.org/data/ease/images/details/global_spatial_coverage_map.gif');
	border-radius: 50%;
	background-size: 210px;
	
	animation-name: rotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from { background-position-x: 0px; }
	to { background-position-x: 210px; }
}
.nextintro {
	text-align: center;
	color: #FFFFFF;
	margin-top: 20px;
}
.firstdescription {
	color: #FFFFFF;
	text-align: center;
	margin-top: -21px;
}
.girls {
}
.NAV {
	color: #FFFFFF;
	text-decoration: none;
	list-style-type: none;
}
.NAV li {
	display: inline;
	float: left;
}
.intro .NAV li {
	display: inline;
}
.intro .NAV li {
}
.intro .NAV li {
	display: block;
}
