<!DOCTYPE HTML>
<html>
  <head>
    <title>In Her Shoes</title>
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css/') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='styles/style.css/') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js/') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="container-fluid">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="navbar-left" href="/"><img src="{{ url_for('static', filename='images/TemporaryLogo.png/') }}" alt="In Her Shoes"></a>
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('beagirl') }}">Be a Girl</a></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
              <li><a href="{{ url_for('give') }}">Donate</a></li>
              <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer>
        <div>
          <p>&copy; 2015 <a href="http://www.womenwhocode.com">Women Who Code Reno-Tahoe</a></p>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Email</a></li>
          </ul>
        </div>
      </footer>
    </nav>
  </body>
</html>
